
/*
#f0d7a7 (svetlo), #eee1ba (svetlo)
#c37960 (srednje) 
#894e3f (tamno), #9c634f (tamno)
*/
#bakery-footer {
  background-color: #59312a;
}
.first-section {
  display: flex;
  padding: 70px 20px;
  justify-content: space-around;
  color: #eee1ba;
}
.first-section .content {
  font-family: 'Poppins';
}
.links h5, .address h5, .contact h5 {
  font-family: 'Merienda';
  font-size: 1.25em;
  margin-bottom: 20px;
  color:#d6caa7;
}
.links p {
  margin-bottom: -5px;
}
.content a {
  text-decoration: none;
  color: #eee1ba;
  transition: 0.3s;
  font-size: 16px;
}
.content a:hover {
  opacity: 0.7;
}
.content a:active {
  color: #f0d7a7;
  opacity: 1;
}
.ordering {
  background-color: #894e3f;
  padding: 15px 17px;
  padding-bottom: 35px;
  border-radius: 5px;
  color: #EDDCD8;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.ordering h5 {
  color: #EDDCD8;
  font-size: 1.4em;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: 'Poppins';
}
.ordering .order {
  border: 0;
  border-radius: 7px;
  padding: 15px;
  background-color:#59312a;
  cursor: pointer;
  border: 1px solid #2c1815
}
.ordering .order a {
  color: #FAD6A5 /*#FFC82A*/;
  font-weight: 600;
  font-size: 1.1em;
  font-family: 'Poppins';
  text-decoration: none;
}
.ordering .order a:hover {
  opacity: 0.8;
}
.ordering p {
  margin-top: 0;
  font-size: 1em;
  font-family: 'Merienda'
}
.last-section {
  display: flex;
  padding: 15px;
  font-size: 1em;
  color:#c39f93;
  align-items: center;
  justify-content: center;
  background-color:#59312a;
  border: 1px groove #9c604c;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

@media screen and (max-width: 900px) {
  .first-section {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #links, .address, .ordering {
   margin-bottom: 80px;
   flex-basis: 33%;
  }
  .ordering {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 769px) {
  .first-section {
   flex-direction: column;
   text-align: center;
   padding-top: 30px;
   padding-bottom: 0;
  }
  #links, .address {
    margin-bottom: 0;
    width: 100%;
    border-bottom: 2px groove #9c604c;
  }
  #links {
    padding-bottom: 20px;
  }
  .ordering {
    margin-top: 60px;
    margin-bottom: 60px;
    align-self: center;
  }
}