* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.grid-predmet:first-of-type {
  grid-area: "tor";
 
 }
.grid-kontejner {
  display: grid;
  grid-template-columns: "tor" "tor";
  gap: 40px;
}
.grid-predmet {
  padding: 40px;
  background-color: blue;
  text-align: center;
  font-size: 20px;
}

