* {
  box-sizing: border-box;
}
body {
  margin: 0;
  
}
.glavnaLista {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  list-style-type: none;
  background-color: brown;
  margin: 0;
  padding: 10px;
}
.glavnaLista li a {
  text-decoration: none;
  padding: 10px 5px;
  color: #E1D89F;
}
.vrhStrane h1 {
text-align: left;
background-color: #27474E;
margin: 0;
padding: 15px;
color: #8CBCB9;
}
.glava1 {
margin-top: 0;
width: 100%;
height: 540px;
background-image: url("slike/boba1.jpg");
background-size: cover;
background-position: 50%;
}
@media screen and (min-width: 600px) {
.glava1 {
margin-top: 0;
width: 100%;
height: 540px;
background-image: url("slike/Gmail/boba2.jpg");
background-size: cover;
background-repeat: no-repeat;
}
}

