* {
    box-sizing: border-box;
  }
  body {
   background-color: #495057;
   margin-bottom: 0;
  }
 
  /* POČETNA SEKCIJA */
  header {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 79.9%;
    height: auto;
    display: grid;
    grid-template-columns: 30% 50%;
    align-items:center;
    justify-content: space-around;
    padding: 2% 0% 1.5%;
    margin-bottom: -1%;
  }
  .logo-glavno {
    width: 150%;
    height: auto;
    margin-left: -2%;
  }
  .logo-glavno img {
    width: 100%;
    height: auto;
  }
  .umnoži-ključ {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#A1C621;
    font-size: 2.1vw;
    line-height: 0px;
    text-align: end;
  }
  .umnoži-ključ2 {
    margin-top: 10%;
    text-align: end;
    line-height: 3px;
    font-family: 'Maja', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5vw;
    color: #495057;
  }
  .mislite-o-tome {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.6vw;
    color:#A1C621;
  }
  /* TABELA */
  .cenovnik {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    display: grid;
    align-items: stretch;
    justify-content: space-around;
    grid-template-columns: 53% 47%;
    font-family:'Reklama', serif;
    color:#495057;
  }
  .cenovnik img {
    width: 100%;
    height: auto;
  }
  .cenovnik table {
    background-color: white;
    text-align: center;
    border-collapse: collapse;
    font-size: 2.2vw;
  }
  .cenovnik table th {
    font-size: 2vw;
    font-family: 'Arial Narrow Bold', 'Logo', sans-serif;
    background-color: #A1C621;
    color: white;
    padding: 4px;
  }
  .cenovnik table, th, td {
    border: 2px solid rgb(228, 226, 226);
  }
  .cenovnik td {
    padding: 5px;
    background-color: white;
  }
  .usluge {
    width: 80%;
    color: white;
    margin-left: auto;
    margin-right: auto;
  }
  .usluge h3 {
    background-color: #9d0208;
    font-family: 'Arial Narrow Bold', 'Logo', sans-serif;
    font-size: 2.5vw;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0%;
    padding: 20px;
  }
  .usluge ul {
    font-size: 2.1vw;
    font-family: 'Reklama', serif;
    background-color: #f4f3ee;
    color: #495057;
    margin-top: 0%;
    padding-top: 10px;
    padding-bottom: 25px;
  }
  .usluge ul li {
  padding-top: 1.2%;
  padding-right: 1%;
  }
  
  