* {
    box-sizing: border-box;
  }
  body {
   background-color: #495057;
   margin-bottom: 0;
  }
  /* POČETNA SEKCIJA */
  .blok-cenovnik {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: 30% 50%;
    align-items:center;
    justify-content: space-around;
    padding: 2% 0% 1.5%;
  }
  .logo-glavno {
    width: 150%;
    height: auto;
    margin-left: -2%;
    transform: rotateY(0deg);
    animation-name: okretanje;
    animation-delay: 1s;
    animation-iteration-count: 2;
    animation-duration: 3s;
  }
  @keyframes okretanje {
    from {transform: rotateY(0deg)}
    to {transform: rotateY(360deg)}
  }
  .logo-glavno img {
    width: 100%;
    height: auto;
  }
  .umnoži-ključ {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #516572;
    font-size: 2.1vw;
    line-height: 0px;
    text-align: end;
  }
  .umnoži-ključ2 {
    margin-top: 10%;
    text-align: end;
    line-height: 3px;
    font-family: 'Maja', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5vw;
    color: #495057;
  }
  .mislite-o-tome {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.6vw;
    color: #516572;
  }
  /* TABELA */
  .cenovnik {
    background-color: black;
    grid-template-columns: 48% 52%;
    grid-template-rows: auto auto;
    width: 90%;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    font-family:'Reklama', serif;
    color:#495057;
  }
  .cenovnik img {
    width: 100%;
    height: auto;
  }
  .cenovnik img:first-of-type {
    border-top: 1px solid whitesmoke;
    grid-row: 1 / 2;
  }
  .cenovnik img:last-of-type {
    grid-column: 1 / 3
  }
  #slika-text{
    font-family: 'Reklama', serif;
    grid-row: 2 / 3;
    font-size: 2.1vw;
    letter-spacing: 1px;
    background-color:black;
    padding: 5%;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
  } 
  #slika-text span {
    color:white;
    filter: contrast(53%)
  }
  .cenovnik table {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    text-align: center;
    border-collapse: collapse;
    font-size: 2vw;
  }
  .cenovnik table th {
    font-size: 2.3vw;
    font-family: 'Arial Narrow Bold', 'Logo', sans-serif;
    background-color: #516572;
    color:white;
    padding: 8px;
    border: 1px solid whitesmoke;
  }
  .cenovnik  table, th, td {
    border: 1px solid rgb(228, 226, 226);
  }
  .cenovnik td {
    font-size: 2.6vw;
    background-color: whitesmoke;
    padding: 10px 0;
  }
  /* USLUGE */
  .usluge {
    width: 90%;
    color: white;
    margin-left: auto;
    margin-right: auto;
  }
  .usluge h3 {
    background-color:  brown;
    font-family: 'Arial Narrow Bold', 'Logo', sans-serif;
    font-size: 2.5vw;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0%;
    padding: 25px;
  }
  .usluge ul {
    font-size: 2.2vw;
    font-family: 'Reklama', serif;
    background-color: #f4f3ee;
    color: #495057;
    margin-top: 0%;
    padding-top: 10px;
    padding-bottom: 25px;
  }
  .usluge ul li {
  padding-top: 1.2%;
  padding-right: 1.5%;
  margin-left: 1%;
  }
  
  