#fancy-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: RGB(45, 44, 42);
  padding: 50px 20px;
}
.footer-main {
  display: flex;
  justify-content: space-around;
  align-items: first baseline;
  color: RGB(251, 245, 245);
}
.about-site {
  flex-basis: 25%;
}
.about-site h5, .contact h5, .address h5 {
 font-family: 'Lora';
 font-size: 1.05em;
 margin-bottom: 17px;
 color: RGB(205, 137, 124);
}
.about-site p, .contact p, .address-content {
 font-family: 'Merriwreather';
 font-size: 1.03em;
 margin-top: 0;
 color: RGB(243, 228, 223);
}
.address-content {
  font-style: normal;
}
.address span {
  font-style: italic;
}
.contact h5 {
  margin-bottom: 0px;
}
.contact a {
  color: RGB(214, 143, 0);
  text-decoration: none;
  transition: 0.3s;
}
.contact a:hover {
  opacity: 0.8;
}
.contact > p {
  margin-top: 17px;
  text-align: left;
}
.social-bar {
  margin-top: 50px;
}
.social-bar a {
  font-size: 1.3em;
  padding: 5px 7px;
  color:white;
  transition: all 0.3s ease;
  border-radius: 3px;
  margin-right: 15px;
}
.social-bar a:hover {
  background-color: black;
}
a.facebook {
  background: #3B5998;
  color: white;
  padding: 5px 10px
}
.twitter {
  background: #55ACEE;
  color: white;
}
.google {
  background: #dd4b39;
  color: white;
}
.linkedin {
  background: #007bb5;
  color: white;
}
.youtube {
  background: #bb0000;
  color: white;
}
.edition {
  font-family: 'Times New Roman', Times, serif;
  color: silver;
  align-self: center;
  margin-top: 35px;
}

@media screen and (max-width: 992px) {
  .footer-main {
    flex-wrap: wrap;
  }
  .about-site {
    flex-basis: 40%;
  }
  .address, .contact {
    margin-left: 5%;
  }
  .about-site h5, .address h5, .contact h5 {
    text-align: center;
  }
}
@media screen and (max-width: 802px) {
  .footer-main {
    flex-direction: column;
    align-items: center;
  }
  .address, .contact {
    margin-left: 0;
    margin-right: 0;
  }
  .about-site,.address { 
    width: 80%;
    border-bottom: 1px dashed #eee;
    text-align: center;
  }
  .contact  > p {
    text-align: center;
  }
  .address {
    padding-bottom: 17px;
  }
  .edition {
    text-align: center;
  }
}