* {
  box-sizing: border-box;
}
body {
 background-color: #495057;
 margin-bottom: 5%;
}
/* POČETNA SEKCIJA */
header {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: auto;
  display: grid;
  grid-template-columns: 30% 21% auto;
  align-items: center;
  justify-content:space-around;
}
.logo-glavno {
  margin-top: 7%;
  color: #495057;
}
.telefon {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2.8vw;
  margin-top: 4%;
  text-align: left;
}
.telefon span:first-of-type {
  color: brown;
  font-size: 1.25em;
}
.telefon a {
  color:#343a40;
}
.ključ-1 img {
  position: relative;
  border-width: 9px 9px 0px 9px;
  border-style: solid;
  border-color: yellowgreen;
  opacity: 0.7;
  width: 100%;
  height: auto;
  margin-bottom: -5px;
  cursor:pointer;
}
.logo-glavno img {
  width: 100%;
  height: auto;
  margin-bottom: -0.7vw;
}
.ključ-1 img:hover {
  position: relative;
  left: 0%;
  animation-name: gibanje;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-direction: reverse;
  animation-timing-function: ease-out;
}
@keyframes gibanje {
  0% {left:0%}
  33% {left: -20%}
  67% {left: 20%}                    
  100% {left: 0%}
}
.umnoži-ključ {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:yellowgreen;
  font-size: 2.2vw;
  line-height: 0px;
  text-align: end;
}
.umnoži-ključ2 {
  margin-top: 12%;
  text-align: end;
  line-height: 3px;
  font-family: 'Maja', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.7vw;
  color: #495057;
}
.mislite-o-tome {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2.7vw;
  color: yellowgreen;
}
/* DRUGA SEKCIJA */
.usluge {
  font-family: 'Reklama', serif;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: yellowgreen;
  padding: 2px 1px;
  font-size: 2.3vw;
  color:#343a40;
}
/* TREĆA SEKCIJA */
.ključ-3 {
  position: relative;
  color: rgba(255, 255, 255, 1);
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  height: 50vw;
  background-image: url('slike/kljuc3.jpg');
  background-size: 105% 100%;
  filter:contrast(50%)
}
.ključ-3 > .prvi-deo {
  font-size: 2.3vw;
  position: absolute;
  font-family: 'Reklama', serif;
  margin-top: 12%;
  margin-left: 3%;
  line-height: 1vw;
}
.ključ-3 > .drugi-deo pre {
  position: absolute;
  font-size: 3.2vw;
  font-family: 'MaliText', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 38%;
  margin-left: 0%;
  line-height: 3vw;
}
/* GUGL MAPA */
#gugl-mapa {
  width: 95%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 45% 55%;
  align-items: center;
  background-color: #54626F;
  padding-bottom: 4%;
  border: 1px solid grey;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
#gugl-mapa h2 {
  position: relative;
  grid-column: 1 / span 2;
  font-family: 'Reklama', serif;
  font-size: 3vw;
  background-color: whitesmoke;
  color:#495057;
  padding: 35px 10px;
  margin-top: -1px;
  border-bottom: 2px solid #495057;
}
#gugl-mapa h2 span:first-of-type {
  color:#343a40;
  margin-left: 15%
}
#gugl-mapa h2 span:nth-of-type(2) {
  color:#343a40;
  margin-left: 12%;
}
#gugl-mapa span:last-of-type {
  position: absolute;
  top: 23px;
  font-size: 1.3em;
  font-weight: bolder;
  left: 87%;
  color: brown;
}
#gugl-mapa img {
  width: 100%;
  height: auto;
  border: 20px solid #54626F;
  border-radius: 35px;
}
#gugl-mapa iframe {
  width: 100%;
  height: 38vw;
  border: 15px solid #54626F;
  border-width: 0px 20px 0px 0px;
}
/* FOOTER */
footer {
  font-family: 'Marion';
  background-color:#343a40;
  width: 55%;
  padding: 50px 7px;
  margin-top: 10%;
  margin-right: auto;
  margin-left: auto;
  font-family: serif;
  color: whitesmoke;
  font-size: 1.3em;
  text-align: center;
  line-height: 0.7em;
  border: 1px solid grey;
  border-radius: 8px;
}
#stari-ključ {
  width: 20%;
  height: auto;
  margin-bottom: 1%;
  margin-top: 1%;
  border: 1px solid whitesmoke;
  padding: 5px;
}
footer h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.3em;
  color: #3bb773;

}
.podaci-radnja {
  display: inline-block;
  margin-top: 1%;
}
#adresa span, #pošta span, #telefon2 span, #ps {
  color:whitesmoke;
  font-weight: 600;
}
footer hr:last-of-type {
  margin-top: 2%;
}
#pošta a, #telefon2 a {
  color: white;
}
#telefon2 a {
  text-decoration: none;
}

