/* POČETNA SEKCIJA */
.početak-strane {
  width: max-content;
  font-size: 2vw;
  margin-bottom: -4%;
  margin-left: 5%;
  font-family: 'Reklama', serif;
  background-color: transparent;
  text-align: center;
  padding: 0;
  letter-spacing: 2px;
}
#ključ-servis {
  color: #A1CAF1;
  font-size: 1.3em;
  text-shadow: 2px 2px 2px black;
}
#otključaj-lako {
  color: #A1CAF1;
  font-family: 'Maja';
  font-weight: 300;
  font-size: 1.3em;
}
/* NAVIGACIJA */
.navigacija {
  width: 95%;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: flex-end;
  margin-left: -2%;
}
.navigacija p a {
  font-size: 1.4vw;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-decoration: none;
}
#naslovna {
  grid-column: 3 / 4;
  padding: 5px 25px;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}
#cenovnik {
  grid-column: 1 / 2;
  padding: 5px 25px;
}
#kontakt {
  grid-column: 5 / 6;
  padding: 5px 25px;
}
#naslovna a {
  color: white;
}
#cenovnik a {
  text-decoration: none;
  text-shadow: 2px 2px 2px black;
}
  

 
  