 /* NAVIGACIJA */
 .navigacija {
    width: 101.5%;
    display: grid;
    grid-template-columns: 50% auto auto auto;
    justify-content: space-around;
    align-items: flex-end;
    color: white;
    margin-left: -2%;
  }
  .navigacija p a {
    text-decoration: none;
    font-size: 1.3vw;
    color: white;
    font-family: 'Montserrat';
    font-weight: bold;
  }
  #ključ-servis {
    color:  yellowgreen;
    font-family: 'Reklama';
    font-size: 2.7vw;
    letter-spacing: 2px;
    margin-left: 6%;
    margin-top: 2.5%;
    margin-bottom: 3.5%;
  }
  #otključaj-lako {
    font-family: 'Maja';
    font-size: 3.2vw;
    color: yellowgreen;
  }
  #naslovna a {
    color: #a8e4a0;
  }

  