/* max-width: 992px*/
@media screen and (max-width: 992px) {
  /* NAVIGACIJA */
  .navigacija p a {
    font-size: 0.84em;
  }
  #otključaj-lako {
    font-size: 1.2em;
  }
  #ključ-servis {
    font-size: 1.4em;
    margin-left: 4%;
  }
  /* POČETNA SEKCIJA */
  header {
    grid-template-columns: 26% 19.5% auto;
  }
  .umnoži-ključ {
    font-size: 2.6vw;
  }
  .umnoži-ključ2 {
    font-size: 1.9vw;
  }
  .mislite-o-tome {
    font-size: 3.1vw;
  }
  /* DRUGA SEKCIJA*/
  .usluge {
    font-size: 1.4em;
  }
  .usluge p {
    margin: 0;
    font-size: 1.1em;
    padding: 10px 7%;;
  }
  /* TREĆA SEKCIJA */
  .ključ-3  {
    background-size: 115% 100%;
    background-repeat: no-repeat;
    height: 65vw;
  }
  .ključ-3 > .prvi-deo {
    margin-top: 15%;
    line-height: 1.2vw;
    font-size: 3.1vw;
    margin-left: 3%;
  }
 .prvi-deo p:last-of-type {
   margin-top: -3%;
   width: 80%;
   line-height: 4.6vw;
  }
  .ključ-3 > .drugi-deo pre {
    font-size: 3.6vw;
    line-height: 3.7vw;
    margin-top: 52%;
    margin-left: -1%;
  }
  /* GUGL MAPA */
  #gugl-mapa h2 {
    font-size: 3.5vw;
  }
  #gugl-mapa h2 span:first-of-type {
    margin-left: 10%;
  }
  #gugl-mapa h2 span:nth-of-type(2) {
    margin-left: 10%;
  }
  #gugl-mapa span:last-of-type {
    top: 25px;
    left: 89%;
  }
  /* FOOTER */
  footer {
    font-size: 1.2em;
    width: 95%;
   }
   footer h3 {
    font-size: 1.2;
    margin-top: 1.5%;
    margin-bottom: 2.7%;
   }
  #stari-ključ {
   width: 18%;
    margin-bottom: 2%;
  }
}
/* max-width: 767px */
@media screen and (max-width: 767px) {
  /* NAVIGACIJA */
  .navigacija p a {
    font-size: 0.8em;
    margin-left: -10%;
  }
  #kontakt a {
    margin-left: -5%;
  }
  #ključ-servis {
    margin-left: 6%;
    font-size: 1em;
  }
  /* POČETNA SEKCIJA*/
  header {
    grid-template-columns: 40% 56%;
    align-items:center;
    justify-content: center;
  }
  .telefon {
    margin-top: 3%;
    font-size: 3.6vw;
  }
  .ključ-1 {
    display: none;
  }
  .umnoži-ključ {
    font-size: 3.2vw;
  }
  .umnoži-ključ2 {
    font-size: 2.4vw;
  }
  .mislite-o-tome {
    font-size: 4.4vw;
  }
  /* DRUGA SEKCIJA*/
  .usluge {
    font-size: 1.4em;
  }
  .usluge p {
    margin: 0;
    font-size: 1.05em;
    padding: 10px 5%;
  }
  /* TREĆA SEKCIJA */
  .ključ-3  {
    background-size: 140% 100%;
    background-repeat: no-repeat;
    height: 73vw;
  }
  .ključ-3 > .prvi-deo {
    margin-top: 15%;
    line-height: 1.2vw;
    font-size: 3.7vw;
  }
 .prvi-deo p:last-of-type {
   margin-top: -3%;
   width: 80%;
   line-height: 4.8vw;
  }
  .ključ-3 > .drugi-deo pre {
    font-size: 4.5vw;
    line-height: 4.4vw;
    margin-top: 58%;
    margin-left: -1.5%;
  }
  /* GUGL MAPA */
  #gugl-mapa h2 {
    font-size: 3.8vw;
    padding: 30px 15px;
  }
  #gugl-mapa h2 span:first-of-type {
    margin-left: 5%;
  }
  #gugl-mapa span:last-of-type {
    left: 90%;
    top: 20px;
    font-size: 1.4em;
  }
  /* FOOTER */

  #stari-ključ {
    width: 20%;
    margin-bottom: 3%;
  }
  .podaci-radnja {
    display: inline-block;
    margin-left: -1%;
  }
}
/* max-width: 600px */
@media screen and (max-width: 600px) {
  /* NAVIGACIJA */
  #ključ-servis {
   display: none;
  }
  #otključaj-lako {
    display: none;
  }
  .navigacija {
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    width: 94%;
    margin-left: 3%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color:#4c5760;
    border: 1px solid grey;
    border-radius: 7px;
  }
  .spuštanje {
    display: none;
  }
  .navigacija p a {
    font-size: 0.9em;
    color:white;
  }
  #cenovnik a {
    margin-left: -3%;
  }
   #kontakt a {
    margin-left: 8%;
  }
  /* POČETNA SEKCIJA*/
  header {
    grid-template-columns: 100%;
    align-items:flex-start;
    justify-content: center;
    margin-top: 5%;
    background-color: #495057;
    cursor: pointer;
   }
  .logo-glavno {
    text-align: center;
    margin-top: 1%;
    background-color: #495057;
  }
  .logo-glavno img {
   margin-top: -1%;
   width: 100%;
  }
  .telefon {
    background-color:#9acd32;
    font-size: 6vw;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 3%;
  }
  #umnoži-ključ-glavno {
    background-color: #fcfff9;
  }
  .umnoži-ključ {
    position: relative;
    font-size: 5.5vw;
    left: -3%;
  }
  .umnoži-ključ2 {
    position: relative;
    font-size: 4.4vw;
    left: -2%;
  }
  .mislite-o-tome {
    font-size: 7.7vw;
  }
   /* DRUGA SEKCIJA*/
   .usluge {
    padding:5px 0px;
   }
  .usluge p {
    font-size: 1.07em;
  }
  /* TREĆA SEKCIJA */
  .ključ-3  {
    background-size: 180% 100%;
    height: 84vw;
  }
  .ključ-3 > .prvi-deo {
    margin-top: 18%;
    line-height: 1.2vw;
    font-size: 4.5vw;
  }
  .ključ-3 > .drugi-deo pre {
    font-size: 5.3vw;
    line-height: 5.2vw;
    margin-top: 68%;
    margin-left: -2%;
  }
  .prvi-deo p:last-of-type {
    line-height: 5.7vw;
   }
   /* GUGL MAPA */
   #gugl-mapa {
    position: relative;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    border-left: 0px solid #4c5760;
    border-right: 0px solid #4c5760;
   }
  #gugl-mapa h2 {
    font-size: 5.5vw;
    padding: 25px 15px;
   }
  #gugl-mapa h2 span:first-of-type {
    margin-left: 12%;
  }
  #gugl-mapa h2 span:nth-of-type(2) {
    display: none;
  }
  #gugl-mapa span:last-of-type {
    left: 81%;
    top: 14px;
  }
  #gugl-mapa iframe {
    height: 80vw;
    grid-row: 3 / 4;
  }
  .auto-ključ-okvir {
   grid-row: 2 / 3;
  }
  /* FOOTER */
  footer {
    font-size: 1.1em;
  }
  footer h3 {
    font-size: 1.2em;
    margin-top: 2.5%;
  }
  #stari-ključ {
    width: 22%;
    margin-top: 0;
  }
  .podaci-radnja {
    margin-top: 3.5%;
    margin-bottom: -5%;
  }
}
/* max.width: 400px*/
@media screen and (max-width: 400px) {
   /* NAVIGACIJA */
   .navigacija p a {
    font-size: 3.7vw;
  }
  .telefon a {
    font-size: 7vw;
  }
  .usluge p {
    font-size: 1em;
  }
   /* TREĆA SEKCIJA */
   .ključ-3  {
    background-size: 184% 100%;
    height: 90vw;
  }
  .ključ-3 > .prvi-deo {
    margin-top: 19%;
    line-height: 1.2vw;
    font-size: 5.1vw;
  }
  .ključ-3 > .drugi-deo pre {
    font-size: 5.4vw;
    line-height: 5.6vw;
    margin-top: 74%;
  }
  /* GUGL MAPA */
  #gugl-mapa h2 {
    font-size: 6.5vw;
    padding: 20px 15px;
  }
  #gugl-mapa h2 span:first-of-type {
    margin-left: 2%;
  }
  #gugl-mapa h2 span:nth-of-type(2) {
    display: none;
  }
  #gugl-mapa span:last-of-type {
    left: 86%;
    top: 8px;
  }
  #gugl-mapa img {
   display:none;
  }
  #gugl-mapa iframe {
    height: 80vw;
  }
  .uputstvo {
    font-size: 6vw;
  }
  /* FOOTER */
  footer {
    line-height: 25px;
    margin-top: 7%;
    padding: 30px 10px;
  }
  footer h3 {
    margin-top: 1%;
  }
  #adresa {
    line-height: 25px;
  }
  #stari-ključ {
    width: 27%;
    margin-bottom: 5%;
  }
}


