/* max-width: 992px*/
@media screen and (max-width: 992px) {
  /* NAVIGACIJA */
  .navigacija p a {
    font-size: 0.95em;
  }
  #ključ-servis {
  display: none;
  }
  #otključaj-lako {
   display: none;
  }
  #naslovna {
    grid-column: 1 / span 1;
  }
  #cenovnik {
    grid-column: 2 / span 2;
  }
  /* POČETNA SEKCIJA */
  header {
    width: 90%;
    grid-template-columns: 28% 50%;
    margin-top: 0.5%;
  }
  .umnoži-ključ {
  font-size: 2.5vw;
  }
  .umnoži-ključ2 {
    font-size: 1.9vw;
  }
  .mislite-o-tome {
    font-size: 3.2vw;
  }
  /* TABELA */
  .cenovnik {
    background-color: whitesmoke;
    width: 90%;
    align-items:flex-start;
    grid-template-columns: 60% auto;
    grid-template-rows: auto auto;
  }
  .cenovnik img:first-of-type {
    grid-row: 1 / 2;
  }
  .cenovnik img:last-of-type {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }
  #slika-text{
    display: none;
  } 
  .cenovnik table th {
    font-size: 1.35em;
  }
  .cenovnik table td {
    font-size: 1.6em;
  }
  .usluge {
    width: 90%;
  }
  .usluge h3 {
    font-size: 1.6em;
  }
  .usluge ul {
    font-size: 1.5em;
  }
}
/* max-width: 767px*/
@media screen and (max-width: 767px) {
  /* POČETNA SEKCIJA */
  header {
    grid-template-columns: 15% 63%;
  }
  .umnoži-ključ {
    font-size: 3.3vw;
  }
  .umnoži-ključ2 {
    font-size: 2.5vw;
  }
  .mislite-o-tome {
    font-size: 4.2vw;
  }
   /* TABELA */
   .cenovnik {
    grid-template-columns: 52% 48%;
    width: 90%;
  }
  .cenovnik table th {
    font-size: 1.6em;
  }
  .cenovnik table td {
    font-size: 1.8em;
  }
}
/* max-wdth: 600px */
@media screen and (max-width: 600px) {
  /* NAVIGACIJA */
  .navigacija p a {
    font-size: 0.85em;
  }
  #naslovna {
    margin-left: 10px;
  }
  #cenovnik {
  margin-left: -60px;
  }
  #kontakt {
    margin-left: -20px;
  }
  /* POČETNA SEKCIJA */
  header {
    width: 95%;
    grid-template-columns: 62% auto;
    grid-template-rows: auto auto;
  }
  .logo-glavno img {
    margin-top: 2%;
    margin-left: 0.7%;
  }
 .umnoži-ključ-glavno {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    margin-right: 4%;
  }
  .umnoži-ključ {
    font-size: 4.8vw;
  }
  .umnoži-ključ2 {
    font-size: 3.9vw;
    }
  .mislite-o-tome {
    font-size: 6.2vw;
  }
  /* TABELA */
  .cenovnik {
    grid-template-columns: 100%;
    width: 95%;
  }
  .cenovnik table th {
    font-size: 2.3em;
  }
  .cenovnik table td {
    font-size: 2.6em;
  }
  .cenovnik img:last-of-type {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
  }
  .usluge {
    width: 95%;
  }
  .usluge h3 {
    font-size: 1.6em;
  }
  .usluge ul {
    font-size: 1.4em;
  }
  .usluge ul li {
    margin-left: 0%;
  }
}
/* max-width: 400px*/
@media screen and (max-width: 400px) {
  /* NAVIGACIJA */
  .navigacija {
    margin-top: -2%;
  }
  .navigacija p a {
    font-size: 3.6vw;
  }
  #naslovna {
    margin-left: 10%;
  }
  #cenovnik {
  margin-left: -58%;
  }
  #kontakt {
    margin-left: -19%;
  }
  /* POČETNA STRANA */
  header {
    grid-template-columns: 62% auto;
  }
  .logo-glavno img {
    margin-top: 2%;
    margin-left: 1.7%;
  }
  .umnoži-ključ-glavno {
   margin-right: 2%;
  }
  .umnoži-ključ {
    font-size: 5vw;
  }
  .umnoži-ključ2 {
    font-size: 4vw;
  }
  .mislite-o-tome {
    font-size: 6.5vw;
  }
  /* TABELA */
  .cenovnik {
    grid-template-columns: 100%;
  }
  .cenovnik table th {
    font-size: 2.6em;
  }
  .cenovnik table td {
    font-size: 3.2em;
    padding: 7px;
  }
  .usluge h3 {
    font-size: 1.4em;
  }
  .usluge ul {
    font-size: 1.25em;
  }
}
