/* max-width: 992px*/
@media screen and (max-width: 992px) {

  /* NAVIGACIJA */
  .navigacija p a {
    font-size: 0.95em;
  }
  #ključ-servis {
    grid-column: 1 / span 6;
    font-size: 1.4em;
    background-color: #536878;
    padding: 20px 15px;
    border-radius: 5px;
    width: 111%;
    margin-left: -4.5%;
    margin-right: auto;
    margin-bottom: 5px;
    text-align: center;
    border: 2px solid whitesmoke;
  }
  #otključaj-lako {
    font-size: 1.3em;
  }
  #naslovna {
    grid-column: 1 / span 1;
  }
  #cenovnik {
    grid-column: 2 / span 2;
    margin-left: -120%;
  }
  #mapa a {
    font-size: 1.1em;
  }
  /* POČETNA SEKCIJA */
  header {
    width: 90%;
    grid-template-columns: 28% 50%;
  }
  .umnoži-ključ {
  font-size: 2.5vw;
  }
  .umnoži-ključ2 {
    font-size: 1.9vw;
  }
  .mislite-o-tome {
    font-size: 3.2vw;
  }
  /* TABELA */
  .cenovnik {
    width: 90%;
  }
  .cenovnik table th {
    font-size: 1.35em;
  }
  .cenovnik table td {
    font-size: 1.6em;
  }
  .usluge {
    width: 90%;
  }
  .usluge h3 {
    font-size: 1.5em;
  }
  .usluge ul {
    font-size: 1.4em;
  }
}
/* max-width: 767px*/
@media screen and (max-width: 767px) {
  /* NAVIGACIJA */
  #ključ-servis {
    width: 105%;
    padding: 15px;
    margin-left: -1.5%;
  }

  /* POČETNA SEKCIJA */
  header {
    grid-template-columns: 25% 63%;
  }
  .logo-glavno img {
    height: 21vw;
  }
  .umnoži-ključ {
    font-size: 3vw;
  }
  .umnoži-ključ2 {
    font-size: 2.3vw;
  }
  .mislite-o-tome {
    font-size: 3.9vw;
  }
   /* TABELA */
   .cenovnik {
    width: 90%;
  }
  .cenovnik table th {
    font-size: 1.6em;
  }
  .cenovnik table td {
    font-size: 1.8em;
  }
}
/* max-wdth: 600px */
@media screen and (max-width: 600px) {
  /* NAVIGACIJA */
  #ključ-servis {
    width: 102%;
    margin-left: 0%;
    font-size: 3.6vw;
  }
  .navigacija p a {
    font-size: 0.85em;
  }
  #naslovna {
    margin-left: 10px;
  }
  #cenovnik {
  margin-left: -60px;
  }
  #mapa {
    font-size: 0.95em;
    margin-left: -20px;
  }
  /* POČETNA SEKCIJA */
  header {
    grid-template-columns: 13% 71%;
  }
  .logo-glavno img {
    height: 25vw;
  }
  .umnoži-ključ {
    font-size: 3.7vw;
  }
  .umnoži-ključ2 {
    font-size: 2.85vw;
    }
  .mislite-o-tome {
    font-size: 4.7vw;
  }
  /* TABELA */
  .cenovnik {
    grid-template-columns: 48% 52%;
  }
  .cenovnik table th {
    font-size: 1.75em;
    padding: 5px 5px 8px 5px;
  }
  .cenovnik table td {
    font-size: 2.1em;
    padding: 5px 0;
  }
  .usluge h3 {
    font-size: 1.3em;
    padding: 10px;
  }
  .usluge ul {
    font-size: 1.25em;
  }
  .usluge ul li {
    margin-left: -2%;
  }
}
/* max-width: 400px*/
@media screen and (max-width: 400px) {
  /* NAVIGACIJA */
  #ključ-servis {
    width: 93%;
    padding: 10px 2px;
    margin-left: 4%;
    font-size: 1.15em;
    margin-bottom: 0;
  }
  #otključaj-lako {
    display: none;
  }
  .navigacija p a {
    font-size: 3.6vw;
  }
  #naslovna {
    margin-left: 10%;
  }
  #cenovnik {
  margin-left: -58%;
  }
  #mapa {
    margin-left: -19%;
    font-size: 3.9vw;
  }
  /* POČETNA STRANA */
  header {
    text-align: center;
    grid-template-columns: 98%;
  }
  .logo-glavno {
   display: none
  }
  .umnoži-ključ-glavno {
   margin-right: 3%;
  }
  .umnoži-ključ {
    font-size: 5vw;
  }
  .umnoži-ključ2 {
    font-size: 4vw;
  }
  .mislite-o-tome {
    font-size: 6vw;
  }
  /* TABELA */
  .cenovnik {
    grid-template-columns: 53% 47%;
  }
  .cenovnik table th {
    font-size: 2.1em;
  }
  .cenovnik table td {
    font-size: 2.6em;
  }
  .usluge h3 {
    font-size: 1.1em;
  }
  .usluge ul {
    font-size: 1.2em;
  }
  .usluge ul li {
    margin-left: -4%;
  }
}
