  body {
    background:#343434;
  }
  #title {
    background-color: #8DA399;
    font-family:fantasy;
    padding: 10px;
    text-align: center;
    margin-top: 0;
    color:#343434;
    margin-bottom: 50px;
    border-radius: 7px;
  }
  #container {
    background-color:#504A4B;
    padding: 12px;
    width: 248px;
    border-radius: 2%;
    font-family: monospace;
    margin-left: auto;
    margin-right: auto;
  }
  #calculator, td, input {
    border: 1px solid lgrey;
    border-collapse: collapse;
    font-size: 22px;
  }
  td > input {
    padding: 10px;
    width: 60px;
    font-size: 1.2em;
    box-shadow: 1px 0 0 grey;
  }
  #monitor {
    padding: 15px 7px;
    text-align: right;
    font-size: 1.3em;
    background-color:ghostwhite;
    border-radius: 4px;
    width: 230px;
    box-shadow: 1px 0 0 grey;
    margin-bottom: 3px;
  }
  .number {
    background-color: #B0E0E6;
  }
  .operator {
    background-color: #8DA399;
  }
  .handler.ac {
    background-color:#D0312D;
    color:white;
    font-size:1em;
  }
  .handler.ce {
    background-color:chocolate;
    color:white;
    font-size: 1em;
  }
  #equal > input {
    background-color: #0F52BA;
    color:white;
    font-size: 1em;
  }
  .operator.extra {
    background-color: #343434;
    color: white;
    font-size: 1em;
  }
  .operator.pi {
    background-color: #343434;
    color: white;
    font-size: 1em;
  }
  .operator.e {
    background-color: #343434;
    color: white;
    font-size: 1em;
  }
