* {
  box-sizing: border-box;
}

.main {
  max-width: 1000px;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  background-color: #2D3241;
  color: white;
  padding: 20px
}
.main h1 {
  font-size: 2.4em;
}
.row {
  margin: 8px -16px;
}
.row::after {
  content: '';
  clear: both;
  display: table;
}
.column {
  float: left;
  width: 25%;
}
.row, .row > .column {
  padding: 8px;
}
.content {
  padding: 12px;
  background-color:#FDFCFA;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.content h3 {
  font-family: Helvetica, Arial, sans-serif;
}
.content img {
  width: 100%;
}

@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .main h1 {
    font-size: 2.3em;
  }
}