body {
  margin: 0;
  background: url("slike/pozadina.jpg");
  background-size:cover;
  border: 20px solid  #3E424B;/*#344148, #3B444B, #36454F, #3E424B*/
  border-width: 0 15px;
   /*#704241, #9F8170*/
}
.zaglavlje {
  text-align: center;
  background-color: #3E424B; 
  padding: 10px 0;
}
 h1 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2em;
  color:   #E8E9EB; /* #E8E9EB, #F2F3F5, F2F3F5*/
}
#fa-home {
  position: absolute;
  left: 12px;
  color:silver;
  cursor: pointer;
}
#fa-home:hover {
  color: #A9A9A9
}
/*.logo-katalog {
  flex-basis: 28%;
}
.logo-katalog img {
   width: 100%;
   height: auto;
   border-radius: 10px;
   border: 1px solid #3E424B;
} */
.nav-bar-katalog p {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #54626F;
  font-weight: 700;
  letter-spacing: 2px;
  margin-left: 1.5em;
  font-size: 1.5em;
  margin-bottom: -10px;
  border-bottom: 1px solid grey;
}
ul {
  list-style-type: none;
  font-size: 1.3em;
  margin-top: 25px;
}
ul li {
  padding: 4px 0;
}
ul li a {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 500;
  color: #54626F;
  text-decoration: none;
}
ul li a:hover {
  color:brown;
}
.sekcija-katalog {
  display: flex;
  justify-content: center;
  align-items:last baseline;
  margin-top: 50px;
}
.nav-bar-katalog {
  padding-right: 3.8%;
}
.oprema-kovceg {
  padding-left: 3.8%;
  width: 35%;
}
picture img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  border: 2px solid silver;
  box-shadow: 4px 4px 2px silver;
}
.kontejner-pdf {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 7px;
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
}
.pdf {
  font-size: 1.1em;
  text-decoration: none;
  color:white;
  font-weight: normal;
  padding: 15px;
  border-radius: 4px;
  cursor: pointer;
  border:0
}
#pdf {
  font-size: 1.1em;
  text-decoration: none;
  color:white;
  font-weight: normal;
  padding: 15px;
  border-radius: 4px;
  cursor: pointer;
  border:0;
  background-color: #54626F/* #636c77*/
}
.onama-katalog {
  font-size: 1.3em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-top: 30px solid #3E424B;
  text-align: center;
  background-color: silver;/*silver*/
  margin-bottom: 0;
  padding: 15px 75px;
  position: relative;
  color: black;
  border-bottom: 100px solid #3E424B
}
.onama-katalog > h2 {
  font-family: Arial, Helvetica, sans-serif;
  color:#3E424B
}
 #fa-katalog {
  font-size: 1.7em;
  position: absolute;
  right: 10px;
  top: 10px;
  color:#54626F
}
.onama-katalog > p {
   font-family: Georgia, 'Times New Roman', Times, serif;
}
footer {
  background-color:   #3E424B;
  color:#DBD7D2; /*#DBD7D2, #E5E4E2*/
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer h4 {
  font-size: 1.3em;
  padding-top: 40px;
  color: #DBD7D2
}
footer p {
  margin-top: 0;
  font-size: 1.2em;
}
.footer-blok p a {
  text-decoration: none;
  color: #DBD7D2;
}
.footer-blok a:hover {
  text-decoration: underline;
  color: blueviolet
}
.centriran-text {
  text-align: center;
}

@media screen and (max-width: 992px) {
  .logo-katalog {
    display: none
  }
  .sekcija-katalog {
    flex-direction: row-reverse;
  }
  .oprema-kovceg {
    width: 45%;
  }
  .nav-bar-katalog p {
    font-size: 1.4em;
  }
  ul {
    font-size: 1.2em;
  }
  .nav-bar-katalog, .oprema-kovceg {
    padding-left: 3.5%;
  }
  .onama-katalog {
    font-size: 1.2em;
    padding: 15px 50px;
  }
  footer h4 {
    padding-top: 20px;
  }
}
@media screen and (max-width: 767px) {
  .zaglavlje h1 {
    font-size: 1.7em;
  }
  .nav-bar-katalog, .oprema-kovceg {
    padding-left: 0;
  }
  .oprema-kovceg {
    width: 55%;
  }
   ul li {
    padding: 3px 0;
  }
  .onama-katalog {
    font-size: 1.2em;
    padding: 15px 30px;
  }
}
@media screen and (max-width: 600px) {
  body {
    background-position: 15% 0%;
  }
  /*.logo-katalog {
    display: block;
    max-width: 90%;
    margin-left: -2px;
    margin-top: -10px;
  } */
  .zaglavlje h1 {
    font-size: 1.5em;
    margin-left: 4%;
  }
  #fa-home {
  left: 12px;
  }
  .sekcija-katalog {
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    font-size: 1.1em;
  }
  .oprema-kovceg {
    width: 100%;
  }
  .nav-bar-katalog {
    background-color: transparent ; /*#98817B,  #704241*/
    margin-top: 20px;
    margin-left: 8px;
  }
  .nav-bar-katalog > p {
    border-bottom: 1px solid grey;
    margin-left: 0
  }
  ul {
    margin-bottom: 0;
    padding-left: 0;
  }
  ul li {
   margin-bottom: 5px;
  }
  .slika {
    margin-top: 70px;
    border-top: 15px solid silver;
    border-bottom: 15px solid #3E424B;
  }
  picture img {
    border: 0;
    border-radius: 0;
    margin-bottom: -5px;
    box-shadow: 0 0 0 transparent;
  }
  .kontejner-pdf {
    background-color:  #54626F;
    padding: 0;
    margin-top: 0;
    justify-content: center;
  }
  .katalog-ponuda {
    font-size: 1.1em;
  }
  .onama-katalog {
    font-size: 1.1em;
    padding: 15px;
    border-top: 15px solid #3E424B
  }
  footer {
    margin-top: 0;
  }
  footer h4 {
    font-size: 1.2em;
  }
  footer p {
    font-size: 1.05em;
  }
  .footer-blok p:nth-of-type(1), .footer-blok p:nth-of-type(2) {
   text-align: center;
  }
}
@media screen and (max-width: 400px) {
  .zaglavlje h1 {
    font-size: 1.3em;
  }
  .pdf {
   text-align: center;
   font-size: 1.05em;
  }
  /* #fa-telefon {
    bottom: 5px
  } */
  footer h4 {
    padding-top: 10px;
  }
}
@media screen and (max-width: 325px) {
  .zaglavlje h1 {
    font-size: 6vw;
  }
  .kontejner-pdf {
    font-size: 4.7vw
  }
}
