body {
  margin: 0;
}

/* Header */
#info {
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
  background-color: #2D3241;
  color: #D5D6D9;
  font-family: 'Barlow Condensed', serif;
  font-size: 1.1em;
}
.info-text, .info-tel {
  color: #D5D6D9;
}
.info-text .icon {
  margin-right: 10px;
}
.info-tel a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.info-tel a:hover {
  color:#FFD600;
}
.info-tel span.text {
  margin-right: 12px;
}
#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px;
  font-family: 'Montserrat', serif;
  background-color: #fdfcf6;
  font-size: 1em;
}
#nav ul {
  margin: 0;
  padding: 0;
}
#nav ul li {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}
#nav ul li:last-of-type {
  margin-right: 0;
}
#nav li a {
  text-decoration: none;
  color: #333;
  font-size: 1em;
  font-weight: 600;
}
#nav li a:hover, #nav a.active {
  color: #6C2F53;
}
#nav li a:not(.icon)::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -4px;
  height: 2px;
  width: 0;
  background-color: #6C2F53;
  transition: 0.3s ease;
}
#nav li a.active::after, #nav li a:not(.icon):hover::after {
  width: 100%;
}
#nav .icon {
  font-size: 1.2em;
  color: #333;
  transition: 0.3s;
}
#nav .icon:hover {
  color: #6C2F53;
}
.mobile.bars, .mobile.close {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  #info {
    padding: 0 20px;
  }
  .info-text {
    text-align: center;
  }
  #nav {
    padding: 30px 20px;
  }
}

@media screen and (max-width: 768px) {
  #info {
    flex-direction: column;
    align-items: center;
  }
  .info-text {
   margin-bottom: -15px;
  }
  #nav {
    padding: 10px 20px;
  }
  #nav ul {
    position: fixed;
    right: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background-color: white;
    padding-top: 20px;
    transition: 0.4s;
  }
  #nav ul li {
    display: block;
    margin-bottom: 20px;
    margin-left: 30px;
  }
  #nav li a:not(.icon)::after {
    display: none;
  }
  .mobile.bars {
    display: inline-block;
    font-size: 1.5em;
    color:#2D3241;
  }
  .mobile.close {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 35px;
    font-weight: 600;
    display: none;
    color:#2D3241;
    transition: 0.8s ease-in;
  }
  .mobile.close:hover {
    color:black;
  }
}

/* Front Page */
#front-page {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Barlow Condensed', serif;
  background-color: #6C2F53;
  color: #ffffff;
}
.front-page-content {
  margin-right: 150px
}
.front-page-image {
  width: 40%;
  margin-left: 40px;
}
.front-page-image img {
  width: 100%;
}
#front-page h1 {
  font-size: 2.7em;
  margin-top: 10px;
  text-shadow: 1px 1px 1px #000;
}
#front-page h4 {
  font-size: 1.2em;
  color: #E1D5DC;
  font-weight: 700;
  font-family: 'Barlow Semi Condensed', serif;
}
#front-page button {
  border: 0;
  padding: 10px 20px;
  border-radius: 12px;
  font-size: 1em;
  font-weight: bolder;
  background-color: #FFD600;
  color:#000000;
  cursor: pointer;
  opacity: 0.9;
}
#front-page button:hover {
  opacity: 1;
}
@media screen and (max-width: 992px) {
  .front-page-content {
    margin-right: 80px
  }
}
@media screen and (max-width: 768px) {
  #front-page {
   flex-direction: column-reverse;
   justify-content: center;
   align-items: center;
   height: auto;
   padding: 50px 0;
   padding-bottom: 0;
  }
  .front-page-content {
    text-align: center;
    margin: 0;
    padding: 0 20px;
  }
  .front-page-image {
    width: 60%;
    height: auto;
    margin-left: 0;
  }
    
  #front-page button {
    opacity: 1;
  }
}
@media screen and (max-width: 480px) {
  #front-page h1 {
    font-size: 2em;
  }
}

